/*전체*/
body{
    margin: 0;
    background-color: #d6ddff;
}
/*nav 헤더*/
nav {
    display: inline-block;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 8px 20px;
    font-size:30px;
    height: 60px;
}

.navbar__logo{
    margin-top: 20px;
}

a {
    text-decoration:none;
    color: black;
    font-size:20px;
}

.navbar__menu{
    list-style: none;
    display: flex;
    margin: 0;
}

.navbar__menu li {
    padding: 8px 30px;
  }


.navbar__menu li:hover {
    transform: translateY(-4px);
}

/*테스트 박스*/
.mainBox{
    text-align: center;
    margin-top: 55px;
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
    border-radius: 50px;
    padding-top: 40px;
    padding-bottom: 100px ;
    padding-left: 40px;
    padding-right: 40px;
}

/*질문 스타일*/
.Qbox {
    font-weight: 700;
    padding: 40px;
}

/*버튼 스타일*/
.tbut{
    cursor: pointer;
    margin-bottom: 30px;
    background-color:  #d6ddff;
    width: 300px;
    border-radius:50px;
    padding: 20px;
    font-size: 20px;
    color : #8da0ff;
    border-color: white;
    border-style: solid;
    transition: background-color 0.6s ease;
}

.tbut:hover{
    background-color: #ffffff;
    transform: translateY(-3px);
}


.dotBox{
    margin-top: 10px;
}
/*점 만들기*/
.dot {
    cursor: pointer; 
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #ffb1b1;
}